<!DOCTYPE html>

 <html>

	 <head>

 	 	<meta charset="utf-8">
	 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 	<meta name="viewport" content="width=500">

	 	<!--Boostrap must come before local css definitions-->
	 	<link href="./css/bootstrap.css" rel="stylesheet" type="text/css"> 	 	
	 	<link href="./css/main.css" rel="stylesheet" type="text/css">

	 	<!--JQuery .js must come before Bootstrap .js, or stuff won't work-->

		<title>My Time Manager</title>

		<link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico">

	</head>

	<body>

		<div class="logout-page">
			<div class="text">
				<h1>You're now logged out</h1>
				<p class="logout-text"><a href="https://twitter.com">Click here</a> to sign out of Twitter too</p>

				<a href="/login"><button class="btn btn-lg btn-primary">Sign In With Twitter</button></a>
			</div>
		</div>
	
	</body>

</html>
