<!DOCTYPE html>

 <html>

	 <head>

 	 	<meta charset="utf-8">
	 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 	<meta name="viewport" content="width=500">

	 	<!--Boostrap must come before local css definitions-->
	 	<link href="./css/bootstrap.css" rel="stylesheet" type="text/css"> 	 	
	 	<link href="./css/main.css" rel="stylesheet" type="text/css">

	 	<!--JQuery .js must come before Bootstrap .js, or stuff won't work-->

		<script type="text/javascript">
  			
			function validation_message() {

				var name = document.getElementById("name").value;
				var email = document.getElementById("email").value;
				var password = document.getElementById("password").value;

		       	if (name == "" || email == "" || password == ""){
		    		alert("Please complete all fields");
		    		return false;
		    	}

			    else{
		        	return true;
		    	}
			}

 		</script>

		<title>My Time Manager</title>

		<link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico">

	</head>

	<body>
						
		<div class="container">

	    	<div class="row">

		    	<div class="col-sm-offset-4 col-sm-4" id="login-page">

					<h2>Please enter your details</h2>
				
					<form class="form-horizontal" method="POST" name"signupForm" onsubmit="return validation_message();" action="/createaccount">

						<div class="form-group">
												
							<div>
						
								<input type="text" class="form-control" name ="name" id="name" placeholder="Your first name">
						
							</div>
						
						</div>

						<div class="form-group">
												
							<div>
						
								<input type="email" class="form-control" name="email" id="email" placeholder="Your email address">
						
							</div>
						
						</div>
						
						<div class="form-group">
											
							<div>
						
								<input type="password" class="form-control" name="password" id="password" placeholder="Set your password">
						
							</div>
						
						</div>											
																  
			        	<button type="submit" class="btn btn-lg btn-primary">Create Account</button>

					</form>

				</div>
			
			</div>

		</div>
		<!--this /div closes the container-->
	
	</body>

</html>

