<!DOCTYPE html>

 <html>

	 <head>

 	 	<meta charset="utf-8">
	 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	 	<meta name="viewport" content="width=500">

	 	<!--Boostrap must come before local css definitions-->
	 	<link href="./css/bootstrap.css" rel="stylesheet" type="text/css">
 	 	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	 	<link rel="stylesheet" href="./css/jquery-ui.css">
	 	<link href="./css/main.css" rel="stylesheet" type="text/css">

	 	<!--JQuery .js must come before Bootstrap .js, or stuff won't work-->
		<script src="./js/jquery-3.1.1.js"></script>
		<script src="./js/jquery-ui.js"></script>
		<script src="http://www.google.com/jsapi"></script>
    	<script src="./js/chartkick.js" type="text/javascript"></script>
		
		<title>My Time Manager</title>

		<link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico">

	</head>

	<body>

		<!--This is the navigation bar fixed to top of page-->
		<nav class="navbar navbar-inverse navbar-fixed-top" id="header-text">

	  		<!--not sure why container-fluid needs to be used, but documentation says use it-->
		    <div class="container-fluid">

			    <div class="navbar-header col-xs-12">

			     	<p>[Username]'s Time Manager</p>

			    </div>

			</div>

		<!--end of nav bar code-->
		</nav>

		<div class="container">
	    	
			<div class="row">

			    <div class="col-md-1 col-xs-1">			    	
				</div>

			    <div class="col-md-10 col-xs-10">

			    	<h2>My activity for the past 7 days <a href="/hello"><button class="btn btn-xs btn-default">TODAY</button></a>   <a href="/month"><button class="btn btn-xs btn-default">MY MONTH</button></a></h2>
					
					

			    	<% if @graph_data_week.empty? %>

						<p>Sorry, you haven't logged anything this week.</p>

					<% else %>	
				   
						<% if @graph_data_week.length >=1 %>
							
							<div>
							    <%= bar_chart(@graph_data_week, id: "activity-summary", width: "100%", xtitle: "Minutes Spent This Week") %>
							</div>						

				    	<%end %>

					<% end %> 

				</div>

			</div>

		<!--this /div closes the container-->
	    </div>

	</body>

</html>
