body {

}

.login-page {
  background: url(../images/time.jpg);
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.text h1 {
  padding: 20px;
  color: #ffffff;
  font-size: 50px;
  font-family: Verdana;
  margin: 0;
}

.text {
	text-align: center;
}

.logout-page {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../images/time.jpg);
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.target-heading{
	margin-top: 60px;
}

.go-back{
	margin-top: 50px;
}

#header-text{
	color: white;
    padding: 10px 10px 0px 10px;
	font-size: 20px;
	font-weight: bold;
}

#log-activity-section{
	text-align: left;
}

.homepage-headings{
	margin-top: 60px;
}

.activity-radio-buttons{
	padding-top: 15px;
	padding-bottom: 10px;
}

#activity-summary-section{
	margin-top: 50px;
}

.activity-summary-text{
	margin-top: 100px;
}

.summary-buttons{
	margin-bottom: 30px;
}

.go-to-targets-button{
	margin-top: 30px;
}

