body {
	margin-top: 100px;
	margin-bottom: 100px;
}

#login-page{
	text-align: center;
}

.login-text{
	margin-bottom: 50px;
}

.target-heading{
	margin-top: 60px;
}

.go-back{
	margin-top: 50px;
}

#header-text{
	color: white;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}

#log-activity-section{
	text-align: left;
}

.homepage-headings{
	margin-top: 60px;
}

.activity-radio-buttons{
	padding-top: 15px;
	padding-bottom: 10px;
}

#activity-summary-section{
	margin-top: 50px;
}

.activity-summary-text{
	margin-top: 100px;
}

